root = true

[*.cs]
# Set braces to a new line (Allman style)
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_indent_braces = false

# Indentation preferences
indent_style = space
indent_size = 4
